<div class="row artist">
  <div class="col-md-12">
    <h1 class="page-title"><%= @artist.name %></h1>
  </div>
  <div class="col-md-6 bio">
    <h2>Bio</h2>
    <p class="artist-bio"><%= @artist.bio %></p>
  </div>
  <div class="col-md-6">
    <h2>Upcoming Concerts</h2>
      <% @artist.concerts.sort_by {|x| x.concert_date }.each do |concert| %>
        <% if concert.concert_date >= Date.today %>
          <p class="concert-info"><%= "#{concert.concert_date.strftime("%m/%d/%Y")} - #{concert.location} - "%><a href="/concerts/<%=concert.id%>">See details</a></p>
        <% end %>
      <% end %>
    <h2>Past Concerts</h2>
    <% @artist.concerts.sort_by {|x| x.concert_date }.each do |concert| %>
      <% if concert.concert_date < Date.today %>
        <p class="concert-info"><%= "#{concert.concert_date.strftime("%m/%d/%Y")} - #{concert.location} - "%><a href="/concerts/<%=concert.id%>">See details</a></p>
      <% end %>
    <% end %>
  </div>
  <%if logged_in? && current_user.artists.include?(@artist)%>
    <div class="col-md-12">
      <p><a href="/artists/<%= @artist.slug %>/edit">Edit artist</a></p>
      <p><a href="/concerts/new">Add concert</a></p>
      <p><form action="/artists/<%=@artist.slug%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Artist">
        </form></p>
    </div>
  <%end%>
</div>
